@import url("https://fonts.googleapis.com/css?family=Dosis|Lora|Lato|Kaushan+Script");

body {
  background-color: #eee;
  padding: 0;
  border-width: 0;
  margin: 0px;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20px 1fr;
  column-gap: 20px;
}

.tile {
  background-color: #000;
  grid-column: 1;
  grid-row: 2;
  padding: 20px;
  text-align: center;
}

.tile2 {
  background-color: #fff;
  grid-column: 2;
  grid-row: 2;
  padding: 20px;
}

.tile3 {
  background-color: #fff;
  grid-column: 3;
  grid-row: 2;
  padding: 20px;
}

.headline {
  font-family: kaushan script;
  font-weight: 400;
  line-height: 60%;
  font-size: 3.5vw;
  border-width: 0px;
}

.headline-lightbg {
  color: #43226c;
  font-size: 2.5vw;
}

.headline-darkbg {
  color: white;
}

.header {
  padding-top: 24%;
  padding-bottom: 60%;
  padding-left: 15%;
  padding-right: 0px;
  border-width: 0px;
  background-image: url("img/bghero.png");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 85%;
  margin: 0px;
}

.navbar {
  position: absolute;
  z-index: 5;
  color: white;
}

.paragraph {
  color: white;
  font-family: lato;
  font-weight: 400;
  line-height: 150%;
  font-size: 1.2vmax;
}

.projects {
  position: relative;
  background-color: white;
  width: 76%;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 100px;
  border-width: 0px;
  top: 48vw;
}

.tile {
  position: inherit;
  background-color: white;
  width: 20%;
  padding: 10px;
}

.contact-details {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  /* background-color: black; */
  position: -webkit-sticky;
  position: sticky;
  text-align: right;
  float: right;
  top: 0px;
  text-decoration: none;
  /* font-family: kaushan script; */
  font-weight: 400;
  line-height: 60%;
  font-size: 50;
  display: inline;
  z-index: 10;
}

.contact-details a {
  color: white;
  list-style-type: none;
  text-align: right;
}