@import url("https://fonts.googleapis.com/css?family=Dosis|Lora|Lato|Kaushan+Script");

body {
  background-color: #eee;
  padding: 0;
  border-width: 0;
  margin: 0px;
  width: 100%;
}

.headline {
  font-family: kaushan script;
  font-weight: 400;
  line-height: 60%;
  font-size: 3.5vw;
  border-width: 0px;
}

.headline-lightbg {
  color: #43226c;
}

.headline-darkbg {
  color: white;
}

.header {
  padding-top: 24%;
  padding-bottom: 0px;
  padding-left: 15%;
  padding-right: 0px;
  border-width: 0px;
  background-image: url("img/bghero.png");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 85%;
  margin: 0px;
}

.navbar {
  position: absolute;
  z-index: 5;
  color: white;
}

.paragraph {
  color: white;
  font-family: lato;
  font-weight: 400;
  line-height: 150%;
  font-size: 1.2vmax;
}

.projects {
  position: relative;
  background-color: white;
  width: 85%;
  padding-left: 15%;
  padding-right: 0px;
  padding-top: 64px;
  border-width: 0px;
  top: 48vw;
}

.tile {
  position: inherit;
  background-color: white;
  width: 20%;
  padding: 10px;
}
